<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Çorbacı Fethi Baba</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="~/burger-master/img/f.jpg" href="~/burger-master/img/f.jpg">
    <link rel="stylesheet" href="~/burger-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/burger-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/burger-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/burger-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/burger-master/css/themify-icons.css">
    <link rel="stylesheet" href="~/burger-master/css/nice-select.css">
    <link rel="stylesheet" href="~/burger-master/css/flaticon.css">
    <link rel="stylesheet" href="~/burger-master/css/animate.css">
    <link rel="stylesheet" href="~/burger-master/css/slicknav.css">
    <link rel="stylesheet" href="~/burger-master/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>