@model UpdateBranch1_Dto
@{
    ViewData["Title"] = "UpdateBranch1";
    Layout = "~/Areas/Admin/Views/AdminUIControler/Index.cshtml";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <form class="form-horizontal" method="post" asp-action="UpdateBranch1">

                <input type="hidden" asp-for="BranchId" />

                <div class="card-body">
                    <h4 class="card-title">Şube 1 Güncelleme işlemi</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Şube 1 İsmi</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="fname" asp-for="Name" placeholder="Şube 1 ismini Giriniz">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Telefon</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="fname" asp-for="PhoneNumber" placeholder="Telefon Numarası Giriniz">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Mail</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="fname" asp-for="Mail" placeholder="Mail Adresini giriniz">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Şehir</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="City" id="lname" placeholder="Şehir giriniz">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Adres</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lname" asp-for="Address" placeholder="Adresi giriniz">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Facebook Url</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email1" asp-for="FacebookUrl" placeholder="Facebook Url Buraya giriniz">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">İnstagram adresi</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="cono1" asp-for="InstagramUrl" placeholder="İnstagram Url Buraya giriniz">
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

